@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap&family=Open+Sans&display=swap');

/* Utils */
@import "./utils/variables";

/* Components */
@import "./components/sidebar";
@import "./components/oos";

/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-comforta;
}

body {
  overflow: hidden;
  background: linear-gradient(122.01deg, #2a2284 0%, #120b56 100%);
}

.logo {
  position: absolute;
  right: 35px;
  top: 20px;
}
