* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: linear-gradient(122.01deg, #2a2284 0%, #120b56 100%);
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  background-color: #000;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  .oos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;

    li {
      width: 50%;

      img {
        display: block;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
